@tailwind base;
@tailwind components;
@tailwind utilities;


*{   
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.table-scroll-style{
  scrollbar-width: thin;
  height: calc(100% + 10px) !important;
  margin-right: -8px !important;
  scrollbar-color: rgba(9, 30, 66, 0.141) rgb(231, 231, 231);
} 

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
